USE [master]
GO
/****** Object:  Database [ESX]    Script Date: 20/01/2019 22:40:42 ******/
CREATE DATABASE [ESX]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESX]
GO
USE [ESX]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20/01/2019 22:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 20/01/2019 22:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[Id] [uniqueidentifier] NOT NULL,
	[Nome] [nvarchar](max) NULL,
 CONSTRAINT [PK_Marcas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patrimonios]    Script Date: 20/01/2019 22:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patrimonios](
	[Id] [uniqueidentifier] NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Descricao] [varchar](200) NULL,
	[MarcaId] [uniqueidentifier] NOT NULL,
	[NumeroTombo] [int] NOT NULL,
 CONSTRAINT [PK_Patrimonios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Patrimonios_MarcaId]    Script Date: 20/01/2019 22:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_Patrimonios_MarcaId] ON [dbo].[Patrimonios]
(
	[MarcaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Patrimonios]  WITH CHECK ADD  CONSTRAINT [FK_Patrimonios_Marcas_MarcaId] FOREIGN KEY([MarcaId])
REFERENCES [dbo].[Marcas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Patrimonios] CHECK CONSTRAINT [FK_Patrimonios_Marcas_MarcaId]
GO
USE [master]
GO
